* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.muirtl-3tyok0-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: orange !important;
}

.muirtl-1olk2g7-MuiTabs-indicator {
    background-color: transparent !important;
}

.MuiTab-root {
    min-height: 50px !important;
    margin: 0 !important;
    border-bottom: 1px solid #5b5a5a !important;

}

.MuiTab-root.Mui-selected {
    color: orange !important;
}

.slick-slider {
    max-width: 100vw;
    overflow: hidden;
}

.slick-track {
    display: flex;
}
